.window{
    width:275px;
     border:5px solid red;
     overflow:hidden;
  }
  .imgs{
   transition: transform 0.5s;
    display:flex;
    width:275px;
    height:183px;
  }
  img{  
    width:275px;
    
  }
  .qq{
    color:red;
  }